<nav>
    <button class="btn btn-link"><a routerLink="/signup" routerLinkActive="active">Sign Up</a></button> |
    <button class="btn btn-link"><a routerLink="/login" routerLinkActive="active">Login</a></button> | 
    <button class="btn btn-link"><a routerLink="/scrumboard/{{project_id}}" routerLinkActive="active">Scrumboard</a></button>
</nav>

