<div class="container-fluid">
    <a class="btn bg-primary conn text-white ml-3" (click)= "onClick()">Scrumboard</a>
    <h3 class="text-white">Change Role</h3>
</div>
<div class="container col-sm-4">    
    <form class="m-4" #userSignupForm ="ngForm" novalidate (ngSubmit)="onSubmit()" action="">
        <div class="form_group">
            <label>Select Role </label>
            <select class="custom-select" required name="userrole" #userrole='ngModel'
             [class.is-invalid]="userrole.invalid && userrole.touched" [(ngModel)]='changeRole.type'>
                <option value='' selected>I am signin as</option>
                <option *ngFor="let role of userTypes">{{ role }}</option>
            </select>
            <div *ngIf="userrole.value === '' && userrole.touched">
                <small class="text-danger">User Role required</small>
            </div>
        </div>
        <h5>{{feedbk}}</h5>
        <button class="btn bg-primary">Change Role</button>
    </form>
</div>
