<!-- <section >
    <div class="container">
        <button class="btn btn-link" (click)="onClick()">Back to Scrumboard</button>
        <h3>Chat</h3>
        
        <div class="">
            <div >
                <ul id="data">
                    <li *ngFor="let message of messages">
                        <div class="chat-container darker" *ngIf= "message.body.username == getUsername()">
                            <img src="" alt="{{message.body.username}}" class="right">
                            <p>{{message.body.message || message.body.content}}</p>
                            <span class="time-left">{{message.body.timestamp}}</span>
                        </div> -->
                        <!-- {{messages}} -->
                        <!-- <div class="chat-container" *ngIf= "message.body.username !== getUsername()">
                            <img src="" alt="{{message.body.username}}">
                            <p>{{message.body.message || message.body.content}}</p> 
                            <span class="time-right">{{message.body.timestamp}}</span>
                        </div>
                    </li>
                </ul> 
            </div>

            <div class="chat-popup">
                <form action="" class="form-container">
                    <label for="chat-text">
                        <b>Message</b>
                    </label>
                    <input type="text" placeholder="Type message..." name="chat_text"
                     id="chat_text" [(ngModel)]="chat_text" required >
                    <button type="submit" class="btn" 
                    (click)="sendMessage()">Send</button>
                </form>
            </div>
        </div>
    </div>
</section> -->

<!-- new code -->
<div class="col-md-8 col-xl-6 chat">
    <div class="card">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
                <div class="user_info">
                    <span>Scrum Chat</span>
                    <p>Messages</p>
                </div>
            </div>
        </div>
        <div class="card-body msg_card_body" id="chatlog">
            <li *ngFor="let message of messages">
                <div class="d-flex justify-content-start mb-4" *ngIf= "message.username !==getUsername()">
                    <div class="img_cont_msg">
                        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" alt="" class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer">
                        <b>{{message.username}}</b> Says: {{message.message || message.content}}
                        <span class="msg_time">{{messagetimestamp}}</span>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-4" *ngIf= "message.username ==getUsername()">
                    <div class="msg_cotainer_send">
                        {{message.message || message.content}}
                        <span class="msg_time_send">{{message.timestamp}}</span>
                    </div>
                </div>
            </li>
        </div>
        <div class="card-footer">
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                </div>
                <textarea type="text" name="chat_text" id="chat_text" [(ngModel)]="chat_text" class="form-control type_msg" placeholder="Type your message..."></textarea>
                <div class="input-group-append"  (click)="sendMessage()">
                    <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
