*{box-sizing:border-box}
.container{
    width:1100px;
    margin-right:auto;
    margin-left:auto;
    padding:20px}
.chat-container{
    border:2px solid #dedede;
    background-color:#f1f1f1;
    border-radius:5px;
    padding:10px;
    margin:10px 0}
.darker{
    border-color:#ccc;
    background-color:#ddd}
.chat-container::after{
    content:"";
    clear:both;
    display:table}
.chat-container img{
    float:left;
    max-width:60px;
    width:100%;
    margin-right:20px;
    border-radius:50%}
.chat-container img.right{
    float:right;
    margin-left:20px;
    margin-right:0}
.time-right{
    float:right;
    color:#aaa}
.time-left{
    float:left;
    color:#999}
ul{height:600px;
    padding:0;
    width:100%;
    list-style:none;
    overflow-y:scroll}
ul li{margin-right:10px}

.form-popup{position:fixed;
    bottom:0;
    right:15px;
    border:3px solid #f1f1f1;
    z-index:9}
.form-container{width:100%;
    padding:0;
    background-color:#fff}
.form-container input[type=text]{
    width:100%;
    margin:5px 0 22px 0;
    border:2px solid #dedede;
    border-radius:5px;
    background:#f1f1f1;
    resize:none;
    min-height:100px;
    padding:10px}
.form-container input[type=text]:focus{
    background-color:#ddd;
    outline:0}
.form-container .btn{
    background-color:#4caf50;
    color:#fff;
    padding:16px 20px;
    border:none;
    cursor:pointer;
    width:100%;
    margin-bottom:10px;
    opacity:.8}

 /* ghostcss */

 * {
    box-sizing: border-box
}

.container {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px
}

.chat-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0
}

.darker {
    border-color: #ccc;
    background-color: #ddd
}

.chat-container::after {
    content: "";
    clear: both;
    display: table
}

.chat-container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%
}

.chat-container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0
}

ul {
    height: 600px;
    padding: 0;
    width: 100%;
    list-style: none;
    overflow-y: scroll;
}

.chating {
    height: 400px;
    padding: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
}

ul li {
    margin-right: 10px
}

.form-popup {
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9
}

.form-container {
    width: 100%;
    padding: 0;
    background-color: #fff
}

.form-container input[type=text] {
    width: 100%;
    margin: 5px 0 22px 0;
    border: 2px solid #dedede;
    border-radius: 5px;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
    padding: 10px
}

.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: 0
}

.form-container .btn {
    background-color: #4caf50;
    color: #fff;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: .8
}

.message {
    background-color: #FE7775;
    color: white;
    font-size: 14px;
    padding: 10px;
    border-radius: 0px 15px 15px 15px;
    margin-bottom: 20px;
}

.your-message {
    background-color: #FE7775;
    color: white;
    font-size: 14px;
    padding: 10px;
    border-radius: 15px 0px 15px 15px;
    margin-bottom: 20px;
}

textarea {
    resize: none;
    outline: none;
}

.time-right {
    font-size: 10px;
    padding: 0;
}

.time-left {
    font-size: 10px;
    padding: 0;
}

.sender {
    font-size: 11px;
    padding: 0;
    margin: 0;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

/* new code */
body,html{
    height: 100%;
    margin: 0;
    background: #7F7FD5;
   background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active{
    background-color: rgba(0,0,0,0.3);
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline{
background-color: #c23616 !important;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #78e08f;
padding: 10px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_head{
position: relative;
}
#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}