    <button class="btn btn-link"><a routerLink="/" routerLinkActive="router-link-active" >Homepage</a></button>
    <!-- <h6>{{loginForm.value | json}}</h6> -->
        <div class='col-sm-4'>
            <form class="form" #loginForm="ngForm" [formGroup]="form" (ngSubmit)="formSubmit()" novalidate>
            <fieldset>
                <legend style="margin:20px"> Login </legend>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input name="email" [ngClass]="{'is-invalid': f.email.dirty && f.email.errors}" placeholder="Enter your email" class="form-control" type="email" [formControlName]="'email'"/>
                        <div *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
                            <div *ngIf="f.email.errors.required"> Email is required </div>
                            <div *ngIf="f.email.errors.email"> Invalid email address </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input name="password" [ngClass]="{'is-invalid': submitted && f.password.errors}" placeholder="Min. 8 Characters long" class="form-control" type="password" [formControlName]="'password'"/>
                        <div *ngIf="submitted && f.password.errors">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be minimum of 8 Characters</div>
                        </div>            
                    </div>
                    <div class="form-group">
                        <label for="projectname">Project Name:</label>
                        <input name="projname" [ngClass]="{'is-invalid': submitted && f.projname.errors}" placeholder="Enter a name for your project" class="form-control" type="text" [formControlName]="'projname'"/>
                        <div *ngIf="submitted && f.projname.errors">
                            <div *ngIf="f.projname.errors.required"> Email is required </div>
                        </div>
                    </div>
                    <input class="btn btn-primary submit" type="submit" value="Login" />
            </fieldset>
        </form>
        <div *ngIf="feedback" id="feedbk"  class="alert alert-dismissible alert-danger">
            <button type="button"  class="close" data-dismiss="alert">&times;</button>
            <strong>Login failed! </strong> <a href="#" class="alert-link"></a>{{ feedback }}
          </div>
        Don't have an account?<button class="btn btn-link"><a routerLink="/signup" routerLinkActive="router-link-active" >Signup here</a></button>
    </div>