<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a  routerLink="/scrumboard/{{project_id}}" routerLinkActive="active" class="navbar-brand">Scrumboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a  routerLink="/chat" routerLinkActive="active" class="navbar-brand">Chat</a>
    <div id="navbarColor03" class="navbar-content">
        <pre>{{ yourname }} </pre>|<pre> Logged In as: {{ rolee }}</pre>
        <!-- <button class="btn btn-primary" routerLink='/login'>Logout</button> -->
    </div>
</nav>
<div>
        <div *ngFor="let participant of _participants">
            <div class="d-flex flex-row justify-content-between mt-4">
                <h3><strong>{{ participant['user']['nickname'] }}</strong></h3>
                <div *ngIf="rolee == 'Developer' && username == participant['user']['nickname']">
                    <button class="btn  btn-outline-success btn-sm" (click)="onClick(participant)">
                        Add Goal for {{ participant['user']['nickname'] }}
                    </button>
                </div>
    
                <div *ngIf="rolee == 'Owner'" class="d-flex flex-row">
                    <button class="btn  btn-outline-success btn-sm" (click)="onClick(participant)">
                         Add Goal for {{ participant['user']['nickname'] }}
                    </button>
                    <button class="btn btn-outline-info btn-sm" (click)="onClickrole(participant)">
                        change role for {{ participant['user']['nickname'] }}</button><br>
                </div>
    
            </div>
    <table class="table" >
        <thead>
            <tr>
                <th scope="col">Tasks For The Week</th>
                <th scope="col">Tasks For The Day</th>
                <th scope="col">Verify</th>
                <th scope="col">Done</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="rolee == 'Developer' && participant['user']['nickname'] != username">
                
                <td cdkDropList #tftw ="cdkDropList" [cdkDropListData]="tftw" [cdkDropListConnectedTo]="[]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" class="pop">
                        <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                            <!-- <p>Goal: {{ goal | json }}</p> -->
                        </div>
                    </div>
                </td>
                <td cdkDropList #tftd ="cdkDropList" [cdkDropListData]="tftd" [cdkDropListConnectedTo]="[]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']">
                        <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                        </div>
                    </div>
                </td>
                <td cdkDropList #verify ="cdkDropList" [cdkDropListData]="verify" [cdkDropListConnectedTo]="[]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']"  >
                        <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']" >
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{goal['status']}}</p>
                        </div>
                    </div>
                </td>
                <td cdkDropList #done ="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" >
                        <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']" >
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                        </div>
                    </div>
                </td>
        
            </tr>
        
        
        
            <!--Task Movement Developer with the login user-->
            <tr *ngIf="rolee == 'Developer' && participant['user']['nickname'] == username">

                <td  cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="tftw" [cdkDropListConnectedTo]="[task_for_the_day]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                        </div>
                    </div>
                </td>
                <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="tftd" [cdkDropListConnectedTo]="[task_verified, task_for_the_week]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                        </div>
                    </div>
                </td>
                <td   cdkDropList #task_verified="cdkDropList" [cdkDropListData]="verify" [cdkDropListConnectedTo]="[task_for_the_day]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{goal['status']}}</p>
                        </div>
                    </div>
                </td>
                <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                        </div>
                    </div>
                </td>
        
            </tr>
        
        
            <!--Task Movement Owner-->
            <tr *ngIf="rolee == 'Owner' || rolee == 'Admin'">
                <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="tftw" [cdkDropListConnectedTo]="[task_for_the_day, task_verified, task_done]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']"> 
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                        </div>
                    </div>
                </td>
                <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="tftd" [cdkDropListConnectedTo]="[task_done, task_verified, task_for_the_week]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                        </div>
                    </div>
                </td>
                <td cdkDropList #task_verified="cdkDropList" [cdkDropListData]="verify" [cdkDropListConnectedTo]="[task_done, task_for_the_day, task_for_the_week]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{goal['status']}}</p>
                        </div>
                    </div>
                </td>
                <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[task_for_the_day, task_for_the_day, task_for_the_week, task_verified]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                        </div>
                    </div>
                </td>
        
            </tr>
            <!--task movement quality analysit-->
            <tr *ngIf="rolee == 'Quality Analyst'">
                <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="tftw" [cdkDropListConnectedTo]="[task_for_the_day]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                        </div>
                    </div>
                </td>
                <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="tftd" [cdkDropListConnectedTo]="[task_verified, task_for_the_week]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                        </div>
                    </div>
                </td>
                <td cdkDropList #task_verified="cdkDropList" [cdkDropListData]="verify" [cdkDropListConnectedTo]="[task_done, task_for_the_day]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{goal['status']}}</p>
                        </div>
                    </div>
                </td>
                <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[]" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                        <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
                            {{ goal['name'] }}<br> {{ goal['id'] }}
                            <p>status: {{ goal['status'] }}</p>
                        </div>
                    </div>
                </td>
        
            </tr>
        </tbody>
    </table>
</div>