<button class="btn btn-link"><a routerLink="/" routerLinkActive="router-link-active" >Homepage</a></button>
<h6>{{signupForm.value | json}}</h6>
    <div class="col-sm-4">
          <form class="form" #signupForm="ngForm" [formGroup]="form" (ngSubmit)="formSubmit()" novalidate>
            <fieldset>
            <legend style="margin:20px"> Sign Up </legend>
              <div class="form-group">
                <label for="email">Email:</label>
                <input name="email" [(ngModel)]="scrumUserModel.email" [ngClass]="{'is-invalid': submitted && f.email.errors}" placeholder="Enter your email" class="form-control" type="email" [formControlName]="'email'"/>
                <div *ngIf="(f.email.touched || submitted) && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required"> Email is required </div>
                </div>
              </div>
              <div class="form-group">
                <label for="fullname">Fullname:</label>
                <input name="name" [(ngModel)]="scrumUserModel.fullname" [ngClass]="{'is-invalid': submitted && f.fullname.errors}" placeholder="Enter your full name" class="form-control" type="text" [formControlName]="'fullname'"/>
                        <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                          <div *ngIf="f.fullname.errors.required"> Full name is required </div>
                        </div>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input name="password" [(ngModel)]="scrumUserModel.password" [ngClass]="{'is-invalid': submitted && f.password.errors}" placeholder="Min. 8 Characters long" class="form-control" type="password" [formControlName]="'password'"/>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be minimum of 8 Characters</div>
                </div>
              </div>
              <div class="form-group">
                <label for="usertype">User Type:</label><br>
                <select name="type" [(ngModel)]="scrumUserModel.type" [ngClass]="{'is-invalid': submitted && f.usertype.errors}" formControlName="usertype" class="form-control">
                  <option *ngFor="let type of Usertype" [ngValue]="type">{{type}}</option>
                </select>
                <div *ngIf="submitted && f.usertype.errors" class="invalid-feedback">
                  <div *ngIf="f.usertype.errors.required">Please Select a user type</div>
                </div>

              </div>
              <button type="submit" class="btn btn-primary" value="Send">Sign Up</button>
            </fieldset>
        </form>
        <div *ngIf="feedback" class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Congratulations!</strong> {{feedback}}
        </div>
        Already have an account?<button class="btn btn-link"><a routerLink="/login" routerLinkActive="router-link-active" >Login here</a></button>
        </div>